@page "/About"

<PageTitle>Scott Vercuski | Architect</PageTitle>

<RadzenStack class="rz-mx-auto rz-mt-0" style="height: auto; width: auto;" Gap="0px" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H4" Style="font-family: Roboto; font-weight: bold;">ABOUT ME</RadzenText>
    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Body1" Style="font-family: Roboto; font-weight: bold;">A brief summary about me, mostly about my skillset in
        technology, programming and management, but also about my hobbies and interests.</RadzenText>
    <br/>
    <RadzenStack JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal" Gap="10rem" Style="width: 100%">
        <RadzenStack Style="width:30%">
            <RadzenText TextStyle="TextStyle.Body1">
                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Body1" Style="font-family: Roboto; font-weight: bold;">Who Am I?</RadzenText>
                Long time developer, primarily focused on the Backend and Database areas.
                My preferred Frontend frameworks are Vue.js and Microsoft Blazor.
                <br/><br/>
                The lion's share of my career has been spent working with the
                Microsoft stack (C# / .NET / .NET Core / Microsoft SQL Server),
                but I have experience with a variety of languages, frameworks,
                and databases.
                <br /><br />
                I've held a number of positions in the span of my career:
                <ul>
                    <li>Network Administrator</li>
                    <li>Software Developer (Junior/Mid/Senior/Lead)</li>
                    <li>Pseudo DBA</li>
                    <li>DevOps Engineer</li>
                    <li>Project Manager</li>
                    <li>Team Lead</li>
                    <li>Software Architect</li>
                </ul>
                I enjoy mentoring and teaching others, and helping them to grow in their careers.
                I am also a lifelong learner trying my best to keep my skills up to date. My PC
                is a mishmash of projects and technologies that I'm currently learning or working on.
                <br /><br />
                Please feel free to contact me on <a href="https://www.linkedin.com/in/scott-vercuski/" target="_blank">LinkedIn</a>
                to chat about development, a project, my hobbies/interests, or just to say hi. Check out my list of
                <a href="/skills">skills</a> to see if I'm a good fit for a project you have in mind.
            </RadzenText>
        </RadzenStack>
        <RadzenStack Style="width:30%">
            <RadzenText TextStyle="TextStyle.Body1">
                <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Body1" Style="font-family: Roboto; font-weight: bold;">Hobbies & Interests</RadzenText>
                A brief (or not so brief) list of things I do, or attempt to do (with varying degrees of success), in my spare time.
                <br/><br/>
                <ul>
                    <li>Video Games</li>
                    <li>Role Playing Games (<a href="https://dnd.wizards.com/" target="_blank">D&D</a> and <a href="https://www.battletech.com/" target="_blank">Battletech</a> for the most part)</li>
                    <li>Reading (Fantasy, Sci-Fi, Coding)</li>
                    <li>Cooking and Baking</li>
                    <li>Hiking when weather allows</li>
                    <li>Home Repair</li>
                    <li>Woodworking</li>
                    <li>Blacksmithing</li>
                    <li>Amateur Bookbinding</li>
                </ul>
            </RadzenText>
        </RadzenStack>
    </RadzenStack>
</RadzenStack>
