@page "/"

<PageTitle>Scott Vercuski | Architect</PageTitle>

<RadzenStack class="rz-mx-auto rz-my-auto" style="height: 100%; width: 100%;" Gap="0px" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" >
    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H2" Style="font-family: Roboto; font-weight: bold;">Hi, I'm Scott Vercuski</RadzenText>
    <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.H5" Style="font-family: Roboto;">
        I'm a long time developer, mainly in C#/Typescript/Vue/SQL spaces,
        <br/>
        a pseudo DBA, one time DevOps/Network engineer, gamer,<br/> hobbyist, and enthusiast of many things.
        <br/><br/>
        Feel free to check out my short,
        <br />
        but, hopefully, growing list of <a href="/projects">projects.</a>
    </RadzenText>
</RadzenStack>
@code {
}