@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.header {
  position: sticky;
  top: 0;
  padding: .8em;
  background-color: gray;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .8em;
  background-color: gray;
  text-align: center;
}

.content {
  margin-bottom: 3em;
}

.icon32 {
  width: 32px;
  height: 32px;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: darkgray;
}

.iconsize {
  width: 48px;
  height: 48px;
}

.facebook {
  background: lightgray;
  color: white;
}

.twitter {
  background: lightgray;
  color: white;
}

.github {
  background: lightgray;
  color: white;
}

.linkedin {
  background: lightgray;
  color: white;
}

.instagram {
  background: lightgray;
  color: white;
}