* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  padding: .8em;
  background-color: gray;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .8em;
  background-color: gray;
  text-align: center;
}

.content {
  margin-bottom: 3em;
}